<!-- 
<div>
    <table class="table table-hover" style=" top: 75px; position:relative; height: 100px;">
        <thead class="table-dark">
            <tr>
            <td>Id</td>
            <td>sku</td>
            <td>name</td>
            <td>description</td>
            <td>unitPrice</td>
            <td>imageUrl</td>
            <td>active</td>
            <td>unitsInStock</td>
            <td>dateCreated</td>
            <td>lastUpdated</td>
            
           
        </tr>
        </thead>
        <tbody>
            <tr *ngFor="let prod of products">
                <td class="align-middle">{{prod.id}}</td>
                <td class="align-middle">{{prod.sku}}</td>
                <td class="align-middle">{{prod.name}}</td>
                <td class="align-middle">{{prod.description}}</td>
                <td class="align-middle">{{prod.unitPrice}}</td>
                <td class="align-middle">
                    <img src="{{prod.imageUrl}}" width="50px" height="50px" alt="Image"></td>
                <td class="align-middle">{{prod.active}}</td>
                <td class="align-middle">{{prod.unitsInStock}}</td>
                
                
                <td>{{prod.dateCreated}}</td>
                <td>{{prod.lastUpdated}}</td>

            </tr>
        </tbody>
    </table>
</div> -->

<div class="main-content">
    <div class="section-content section-content-p30">
        <div class="container-fluid">
            <div class="row">
                <div *ngFor="let prod of products" class="col-md-3">
                    <div class="product-box">
                        <img src="{{prod.imageUrl}}" class="img-responsive">
                        <h6>{{prod.name}}</h6>
                        <div class="price">{{prod.unitPrice|currency:'INR'}}</div>
                        <a href="#" class="primary-btn">Add To Cart</a>
                    </div>
                    
                </div>
            </div>

        </div>

    </div>

</div>